<!-- tracker results here to display -->
<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<form method="post">
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><%= title %></h1><br>
    <div class="form-group">
        <label for="assignment">Assignment</label>
        <input type="text" name="assignment" id="assignment" class="form-control" value="<%=Tracker.assignment%>" required>
    </div>
    <div class="form-group">
        <label for="due_date">Due Date</label>
        <input type="text" name="due_date" id="due_date" class="form-control" value="<%=Tracker.due_date%>" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control" required><%=Tracker.description%></textarea>
        <button type="submit" class="btn btn-primary">Change Assignment</button>
    </div>
</form>


<!-- need to res render this button -->
</div>
</div>
</main>
<%- include('partials/footer.ejs') %>
<%- include('partials/scripts.ejs') %>