<!-- index.ejs -->
 <body class="index-page">
  <%- include('partials/header.ejs') %>
  <%- include('partials/main_nav.ejs') %>

  <main>
    <section class="index-section index-content">
      <div class="jumbotron">
        <h1 class="display-4 index-title"><%= title %></h1>
        <p class="lead index-description"><%= section %></p>
      </div>

      <div class="context-section">

        <div class="black-flexbox">
          <div class="left-col">
            <img src="/assests/images/image.jpg" alt="Personal Img" class="img-fluid personal-img"/>
          </div>
    
          <div class="right-col">
            <div class="bio-description">
              <p>My name is Rachel Ayson, and I am writing in hopes of contributing to your workspace. I am currently in my second year of study for the Networking and IT Security program at Ontario Tech University. During my time as a full-time student, I have developed a sense of strong organization from balancing my academic courses while working part-time. In this time, I have refined my customer service, communication and organizational skills with different levels of management and superiors, both at work and school. The various tasks given each day were completed efficiently and flawlessly. These skills were developed after building a foundation for communication to both coworkers and classmates to ensure that I maximize my time. I believe that the foundation I have built through my experience, could be found valuable. I am eager to gain more expereience and knowledge for future occupations and my future studies. I am confident that my current line of study, and the skills I have gained during this time will prove myself to be a dedicated candidate for job opportunities.</p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>
  
  <%- include('partials/footer.ejs') %>
  <%- include('partials/scripts.ejs') %>
 </body>


