<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/main_nav.ejs') %>

    <div class="projects-page mt-5">
        <h2><%= section %></h2>
        <p>Here are some of my projects</p>

        <!-- Projects content -->
        <div class="projects-container">
            <!-- 1st Proj -->
            <div class="project-section">
                <img src="" alt="Project 1" class="project-image">
                <div class="project-description">
                    <h3>P1</h3>
                    <p>Description</p>
                </div>
            </div>

            <!-- 2nd Proj -->
            <div class="project-section">
                <img src="" alt="Project 2" class="project-image">
                <div class="project-description">
                    <h3>P2</h3>
                    <p>Description</p>
                </div>
            </div>

            <!-- 3rd Proj -->
            <div class="project-section">
                <img src="" alt="Project 3" class="project-image">
                <div class="project-description">
                    <h3>P3</h3>
                    <p>Description</p>
                </div>
            </div>

            <!-- 4th Proj -->
            <div class="project-section">
                <img src="" alt="Project 4" class="project-image">
                <div class="project-description">
                    <h3>P4</h3>
                    <p>Description</p>
                </div>
            </div>

            <!-- 5th Proj -->
            <div class="project-section">
                <img src="" alt="Project 5" class="project-image">
                <div class="project-description">
                    <h3>P5</h3>
                    <p>Description</p>
                </div>
            </div>

        </div>


    </div>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/scripts.ejs') %>
</body>