<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/main_nav.ejs') %>

    <div class="projects-page mt-5">
        <h2><%= section %></h2>
        <p>Here are some of my projects</p>
        <p>I will continue to add to this page</p>

        <!-- Projects content -->
        <div class="projects-container">
            <!-- Proj 1 img -->
            <div class="project-section">
                <img src="/assests/images/Capture.JPG" alt="Project 1" class="project-image">
            </div>

            <!-- Proj 1 description -->
            <div class="project-section">
                <div class="project-description">
                    <p>Designed and implemented a high-performance network for remote connection between an entire enterprise. Utilizing BGP, OSPF, and EIGRP for routing in both IPv4/IPv6 protocols. Implemented policy-based routing (PRB) and DHCP, while optimizing routing with static routes, redistribution, and summarization. Ensured network reliability and scalability, while maintaining a secure and efficient infrastructure for both internal LANs and inter-residence WAN connectivity, satisfying the demands of diverse communication requirements. The topology design is shown here, however, all configurations were done.</p>
                </div>
            </div>

            <!-- Proj 2 img -->
            <div class="project-section">
                <img src="/assests/images/OB.jpg" alt="Project 3" alt="Project 2" class="project-image">
            </div>

            <!-- Proj 2 description -->
            <div class="project-section">
                <div class="project-description">
                    <p>This shows the output of a code that demonstrates key OOP principles. I implmented inheritance, encapsulation and class design. This shows how to properly format information using classes in Python. Through the use of inheritance, one class can share features with another without unnecessary repition. The code uses methods to perform tasks like calculating earning/displaying information. </p>
                </div>
            </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/scripts.ejs') %>
</body>
